<%= form_with model: @hall do |form| %>
  <% @hall.errors.each do |error| %>
    <p><%= error.full_message %></p>
  <% end %>
  <p><%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_field :capacity, placeholder: 'capacity' %>
  <%= form.submit %>
  <%= link_to "Cancel", cancel_path %></p>
<% end %>
