<div class="card text-bg-dark w-75 d-flex flex-wrap my-5 m-auto">
  <div class="card-body">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Start</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @screenings.order("start desc").each do |screening| %>
          <tr>
            <td><%= screening.movie.title %></td>
            <td class="text-wrap"><%= screening.start %></td>
            <td>
              <%= link_to 'Edit', edit_screening_path(screening), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to 'Delete', screening_path(screening), data: {
                                  turbo_method: :delete,
                                  turbo_confirm: "Are you sure?"
                                }, class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to 'Add reservation', new_screening_reservation_path(screening), class: 'btn btn-outline-warning btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Add new Screening', new_screening_path, class: 'w-100 btn btn-warning m-2 m-auto' %>
    </div>
</div>
