<div class="w-75 d-flex flex-wrap my-5 m-auto">
  <div class="w-100 card m-2 text-bg-dark">
    <div class="card-header">
      <%= @screening.movie.title %>
    </div>
    <div class="card-body">
      <p class="card-text">Movie: <%= @screening.movie.title %></p>
      <p class="card-text">Start: <%= @screening.start %></p>
      <%= link_to 'Edit', edit_screening_path(@screening), class: 'btn btn-outline-warning btn-sm'%>
      <%= link_to 'Delete', screening_path(@screening), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }, class: 'btn btn-outline-warning btn-sm'%>
    </div>
  </div>
  <%= link_to 'Back', screenings_path, class: 'btn btn-outline-warning m-2' %>
</div>
