<div class="w-75 d-flex flex-wrap my-5 mx-auto">
  <% @movies.each do |movie| %>
    <div class="w-75 card my-2 mx-auto text-bg-dark">
      <div class="card-header">
        <%= movie.title %>
      </div>
      <div class="card-body">
        <p class="card-text text-truncate"><%= movie.description %></p>
        <p class="card-text">
          <%= link_to 'Show', movie, class: 'btn btn-outline-warning btn-sm'%>
          <%= render 'links', movie: movie %>
        </p>
        <p class="card-text">
          <% movie.screenings.each do |screening| %>
            <%= link_to "#{screening.start.strftime('%d %b, %H:%M')}",
                  new_screening_reservation_path(screening),
                  class: "btn btn-warning btn-sm #{'disabled' unless policy(screening.reservations.build).new? }" %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <% if policy(Movie).new? %>
    <%= link_to 'New movie', new_movie_path, class: 'w-75 my-2 mx-auto btn btn-warning btn-lg text-decoration-none' %>
  <% end  %>
</div>
