<div class="card-body">
  <p class="card-text">
    <%= reservation.screening.movie_title_with_start %>
  <%= form_with(model: [@screening, reservation]) do |form| %>
    <% reservation.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
    <%= form.number_field :quantity, in: 1..10 %>
    <% unless current_user&.user? %>
      <%= form.text_field :email, placeholder: 'email' %>
    <% end %>
    <%= form.submit class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to "Cancel", :back, class: 'btn btn-sm btn-outline-warning'%>
  <% end %>
</div>
