<!DOCTYPE html>
<html>
  <head>
    <title>MonteCinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url(https://images.pexels.com/photos/2264245/pexels-photo-2264245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)">
    <%= render 'layouts/main_navigation' %>
    <%= yield %>
  </body>
</html>
